.container{
    margin: 0 auto;
    padding: 20px;
    background-color: beige;
}
h1{
    color:brown;
}

.btn{
    padding: 10px 20px;
    background-color: brown;
    border-radius:5px;
    border: 1px solid black; 
    color:aliceblue;
}
a{
    color:black;
}

/* Header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: rgb(165, 42, 42);
  color: white;
  border-radius: 2px solid black ;
}

/* Logo */
.logo h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 25px;
}

/* Links styling */
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
.nav-links a:hover {
  color: black;
}
.active{
  background-color: rgba(240, 248, 255, 0.568);
}