.container{
    margin: 0 auto;
    padding: 20px;
    background-color: beige;

}
h1{
    color:brown;
}
.btn{
    height:120px;
    width:120px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;

}
.btn:hover{
    border:2px solid black;

}
.counter{
    gap: 20px;
    width:100px;
    padding:20px;
    margin:auto;
    background-color: lightgray;
    border-radius: 10px;
    
}

.bg-red{
    background-color: red;
    color: white;
}
.bg-green{
    background-color: green;
    color: white;
}
.bg-black{
    background-color: black;
    color: white;
}