.child-box {
  border: 2px solid #ff9800;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: #fff3e0;
}

.user1 {
  color: #e65100;
}

.btn{
    padding: 10px 20px;
    background-color: brown;
    border-radius:5px;
    border: 1px solid black; 
    color:aliceblue;
}
