.container{
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient( 109deg,  rgba(160,24,80,1) 11.2%, rgba(201,138,75,1) 81.7% );
}
h1
{
    color: White;
    text-align: center;
    font-size:40px;
}
p{
    font-size: 18px;
    line-height: 1.6;
    color: #f8f9fa;
    text-align:center;
}