.container{
    margin: 0 auto;
    padding: 20px;
    background-color: beige;
}
h1{
    color:brown;
}

.btn{
    padding: 10px 20px;
    background-color: brown;
    border-radius:5px;
    border: 1px solid black; 
    color:aliceblue;
}

h2{
    color:rgb(50, 50, 84)
}